################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Tests/Service.Integration.Tests/obj
/src/Service/obj
/src/Infrastructure/obj
/src/Core/obj
/src/.vs/EventManager/v16/TestStore/0
/src/Tests/Service.Integration.Tests/bin/Debug/netcoreapp3.1
/src/Service/bin/Debug/netcoreapp3.1
/src/Infrastructure/bin/Debug/netstandard2.0
/src/Core/bin/Debug/netstandard2.0
/src/.vs/EventManager/v16
/src/.vs/EventManager/DesignTimeBuild
/src/Tests/Service.Acceptance.Tests/bin/Debug/netcoreapp3.1
/src/Tests/Service.Acceptance.Tests/obj
/src/Tests/Service.Base.Tests/bin/Debug/netcoreapp3.1
/src/Tests/Service.Base.Tests/obj/Debug/netcoreapp3.1
/src/Tests/Service.Base.Tests/obj
/src/Tests/Service.Integration.Tests/bin/Release/netcoreapp3.1
/src/Tests/Service.Base.Tests/bin/Release/netcoreapp3.1/Service.deps.json
/src/Tests/Service.Acceptance.Tests/bin/Release/netcoreapp3.1/Service.deps.json
/src/Tests/Service.Acceptance.Tests/bin/Release/netcoreapp3.1/Service.Base.Tests.deps.json
/src/Service/Properties/PublishProfiles
/src/Service/Service.csproj.user
/src/Service/bin/Release/netcoreapp3.1
/src/Infrastructure/bin/Release/netstandard2.0
/src/Core/bin/Release/netstandard2.0
